In [1]:
# Import graphing dependencies.

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
# Import standard dependencies.

import numpy as np
import pandas as pd

In [3]:
# Import date dependencies.

import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [5]:
# Create engine to query SQLite database using create_engine() function.

engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
# Reflect our existing database into a new model with the automap_base() function.

Base = automap_base()

# Reflect the tables with the prepare() function.

Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found.

Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table.

Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB allowing us to query data.

session = Session(engine)

In [10]:
# June data.

results = []
results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==6).all()

df = pd.DataFrame(results, columns=['date','June Precipitation'])
df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [11]:
# December data.

results = []
results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==12).all()

df = pd.DataFrame(results, columns=['date','December Precipitation'])
df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000